<div class="main-container">
<div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Last name</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let contact of contacts | async" [ngClass]="{ 'highlighted': contact == selected }" >
				<td><a [routerLink]="['/details', contact.id]" target="_blank"  (click)="onSelected(contact)" >{{contact.Name}} </a></td>
				<td><a [routerLink]="['/details', contact.id]" target="_blank" (click)="onSelected(contact)"  >{{contact.LastName}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
</div>